<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
<!--[if IE 6]>
<link href="default_ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body>
<div id="header" class="container">
	<div id="logo">
		<h1><a>So Here We <span>Go ... </span></a></h1>
	</div>
</div>
<div id="banner-wrapper" dir="rtl">
	<div id="banner" class="container">
		<h2>اینجا چیه دقیقن ؟</h2>
		<p>خب خب سلام جا داره خوش آمد بگم ورود شما رو به این سایت خفن و از این حرفا ! سایت ما تشخیص داد که شما اولین بارتونه که اومدین اینجا ! پس برای اینکه ببینین اینجا چیه و دلیل اینکه اومدین اینجا چیه و ... ادامه بدین .</p>
		<a href="why.html" class="button-style">خب دلیل چیه؟</a> </div>
</div>
<div id="footer" class="container">
</div>
</body>
</html>
